[buildout]
develop = .
parts = test py
versions = versions

[versions]
# For python2.6 use these (currently the latest versions):
ZODB3 = 3.10.5
transaction = 1.2.0
# For python2.4:
#ZODB3 = 3.9.7
#transaction = 1.1.1

[test]
recipe = zc.recipe.testrunner
eggs = zc.queue [test]

[py]
recipe = zc.recipe.egg
eggs = zc.queue
interpreter = py
