[buildout]
develop = .
find-links =
    ${buildout:directory}/ZODB-4.0.0dev.tar.gz
parts = test py
versions = versions

[versions]
ZODB = 4.0.0dev

[test]
recipe = zc.recipe.testrunner
eggs = zc.queue [test]

[py]
recipe = zc.recipe.egg
eggs = zc.queue
interpreter = py
