[buildout]
develop = .
parts = test py

find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = zc.queue

[py]
recipe = zc.recipe.egg
eggs = setuptools
interpreter = py
scripts = py
